/*CCZambia*/
@font-face {
   font-family: OpenSans-Bold;
   src: url(../fonts/OpenSans-Semibold.ttf);
}

@font-face {
   font-family: OpenSans-Light;
   src: url(../fonts/OpenSans-Light.ttf);
}

@font-face {
   font-family: Lato-Light;
   src: url(../fonts/Lato-Light.ttf);
}

@font-face {
   font-family: Lato-Regular;
   src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
   font-family: Lato-Bold;
   src: url(../fonts/Lato-Bold.ttf);
   font-weight: bold;
}

@font-face {
   font-family: Recoba;
   src: url(../fonts/Recoba.ttf);
}

@font-face {
   font-family: Goldoni_DEMO;
   src: url(../fonts/.Goldoni_DEMO.otf);
}

body {
	font-family:OpenSans-Light, Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0;
}

/*Navigation bar*/

.nav_wrapper {
  background-color: #0000ff;
  background-color: #ff8200;
  background-image: linear-gradient(90deg, #cc5f00, rgba(0,255,250,0.8));
}

nav.main_nav {
  margin-bottom: -110px;
  background-color: rgba(0,51,95,0.655);
  padding: 40px;
  position: relative;
  z-index: 10000;
}

nav.main_nav a:first-child {
  font-size: 24px;
  margin-left: 20px;
}
nav.main_nav a {
  font-family: Arial;
  margin-right: 30px;
  color: #f2f2f2;
  font-size: 14px;
  text-decoration: none;
  /*background-color: #cccccc;*/
  padding: 10px;
}

nav.main_nav a:hover {
  /*border-bottom: 1px solid #ff8200;*/
  color: #ff8200;
}

nav a:not(:first-child){
  float: right;
  font-weight: 600;
} 

nav.main_nav a#active {
  border-bottom: 1px solid #f1f1f1;
}

/*#######################*/
/*Adding Responsiveness*/
@media screen and (max-width:767px) {
  div.main_nav.responsive {
    position: relative;
  }

  .main_nav.responsive a:first-child{
    display: block;
    margin-left: -20px;
  }
  .main_nav.responsive .icon {
    position: relative;
    display: block;
    margin-top: 30px;
  }
  .main_nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.main_nav .icon {
  display: none;
}

@media screen and (max-width: 767px) {
  .main_nav a:not(:first-child) {
    display: none;
  }
  .main_nav a.icon {
    float: right;
    display: block;
    position: relative;
    /*margin-right: -10px;*/
  }

  nav.main_nav i {
    font-size: 24px;
  }

  nav.main_nav a:first-child {
  font-size: 16px;
  font-weight: bold;
}

/*####### Smart Phone Carousel ######*/
div.slideshow-container img {
  vertical-align: middle;
  width: 100%;
  height: 500px;
  margin-top: -120px;
  opacity: 0.4555555;
}

div.tex_content {
  background-color: #ff8200;
  margin-top: 500px;
  margin-left: 30px;
  padding: 20px;
  border-radius: 3px 5px 50px 3px;
}

/* Caption text */
div.text {
   width: 80%;
}

.tex_content h1 {
  font-size: 14px;
}

.tex_content p {
  font-size: 12px;
}

/*########## About Us #############*/
.about_us_container {
  background-color: #eeeeee;
  padding: 20px;
  color: #03333d;
  margin-bottom: 10px;
}

div.about_us_container h2, div.about_us_container p {
  text-align: left;
}

div.about_us_container h2 {
  font-size: 14px;
  /*font-family: sans-serif;*/
  border-bottom: 1px solid #bbbbbb;
}

div.about_us_container p {
  font-size: 13px;
  /*font-family: sans-serif;*/
}

/*###############################*/
/*########## Service #############*/
div.service_head {
  background-color: #eeeeee;
  padding: 20px;
  color: #03333d;
}

div.service_head h2, div.service_head p {
  text-align: left;
}

div.service_head h2 {
  font-size: 14px;
  border-bottom: 1px solid #cccccc;
}

div.service_head p {
  font-size: 13px;
}
/*###### Service Container ######*/
div.service_container {
  background-color: #cccccc;
  padding: 20px;
  color: #03333d;
  margin-bottom: 10px;
}

div.service_container i {
  background-color: #ff8200;
  padding: 12px;
  color: #dddddd;
  border-radius: 100px;
  font-size: 16px;
}

div.service_content p#service_title {
  font-size: 14px;
  font-weight: 600;
}

div.service_content p {
  font-size: 13px;
}

div.service_content {
  padding: 10px 12px;
  cursor: pointer;
  border-bottom: 1px solid #bbbbbb;
}

.service_content:hover {
  background-color:#989898;
  border-radius: 3px; 
}

/*########## Our Work #############*/
div.work_head {
  background-color: #eeeeee;
  padding: 20px 10px;
  color: #03333d;
}

div.work_head h2, div.work_head p {
  text-align: left;
}

div.work_head h2 {
  font-size: 14px;
  border-bottom: 1px solid #cccccc;
}

div.work_head p {
  font-size: 13px;
}


/*###### Our Work Container ######*/

div.work_container {
  background-color: #cccccc;
  padding: 20px;
  color: #03333d;
}

div.work_content {
  /*background-color: rgba(0,0,0,0.9);*/
  padding: 2px;
  position: relative;
  transition: 0.6s ease;
  user-select: none;
  z-index: 1000;

}

.work_content img {
  width: 100%;
}

.work_content p#work-letter {
  background-color: #00cdff;
  padding: 5px 7px;
  color: #f2f2f2;
  font-weight: 600;
  width: 8%;
  margin-bottom: -35px;
  border-radius: 100%;
  position: relative;
  z-index: 100;
}

.work_content .work_details {
  display: none;
  position: relative;
  transition: 0.6s ease;
  /*margin-top: -80px;*/
  /*user-select: none;*/
}

.work_content:hover {
  background-color: #eeeeee;
  position: relative;
  z-index: 1000;
  
}

.work_content:hover .work_details {
  display: block;
   background-color: #eeeeee;
  /*margin-top: -80px;*/
  position: relative;
  z-index: 1000;
  
}

/*########## Contact Header #####*/

div.contact_head {
  background-color: #eeeeee;
  padding: 20px;
  color: #03333d;
}

div.contact_head h2, div.contact_head p {
  text-align: left;
}

div.contact_head h2 {
  font-size: 14px;
  border-bottom: 1px solid #cccccc;
}

div.contact_head p {
  font-size: 13px;
}

div.contact_wrapper {
  background-color: #dddddd;
  padding: 5px;
}

div.contact_form p#contact_title {
  font-size: 14px;
  padding: 3px;
  border-bottom: 1px solid #cccccc;
}

div.contact_form {
  background-color: #989898;
  padding: 30px;
}

div.contact_form label {
  font-weight: 600;
  font-size: 13px;
}

div.contact_form i {
  /*background-color: #dddddd;*/
  margin-right: -30px;
  position: relative;
  z-index: 1;
  font-size: 13px;
  padding: 9px;
  color: #989898;
}

div.contact_form form input[type=text] {
  padding: 7px 39px;
  font-family: Arial;
  font-size: 12px;
  width: 90%;
  border: 1px solid #eeeeee;
  border-radius: 3px;
}

div.contact_form form textarea {
  padding: 8px;
  width: 90%;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  font-size: 12px;
  font-family: Arial;
}

div.contact_form form input[type=submit]{
  padding: 7px;
  background-color: #00afff;
  color: #f2f2f2;
  font-size: 12px;
  border-radius: 3px;
  border: 1px solid #00a0ff;
  width: 90%;
}

div.contact_form form input[type=submit]:hover {
  opacity: 0.8;
  cursor: pointer;
}

div.contact_form form input[type=text]:focus, div.contact_form form textarea:focus {
  border: 1px solid #cc0055;
}

div.contact_imge {
 /*background-color: #eeeeee;*/
 padding: 10px;
}

div.contact_imge img {
  display: none;
}

div.contact_imge p#imge_title {
  display: none;
}

/*############# Footer #########*/
.footer-container {
  background-color: rgba(0,0,0,0.9);
  color: #989898;
}

div.footer_content {
  padding: 20px;
  font-size: 13px;
}

div.footer-container p#footer_title {
  font-family: Verdana;
  color: #ff8200;
  font-size: 16px;
  padding: 20px;
  border-bottom: 1px solid #555555;
}

div.footer-container h2 {
  color: #eeeeee;
  font-size: 14px;
  font-family: Arial;
}

div.footer-container i {
  padding: 5px;
}

div.footer-container a {
  text-decoration: none;
  color: #888888;
}

div.footer-container a:hover {
  color: #ff8200;
}

div.footer_form form input[type=text]{
   width: 85%;
   padding: 7px;
   border: 1px solid #989898;
   border-radius: 3px 0px 0px 3px;
   font-family: Arial;
   font-size: 14px;
}

div.footer_form form input[type=submit] {
  padding: 7.5px 7px 8px 9px;
  margin-left: -5px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  background-color: #ff8200;
  color: #f2f2f2;
}

div.footer_form form input[type=submit]:hover {
  opacity: 0.8;
}

.footer_form form input[type=text]:focus {
  border: 1px solid #cc0055;
}

.footer_copy {
  background-color: rgba(0,0,0,0.377777);
  padding: 20px;
  text-align: center;
  font-size: 14px;
}

} /*end media query*/


@media screen and (max-width: 767px) {
  .main_nav.responsive {
    position: relative;
  }

  .main_nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .main_nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/*#########################*/

/*######### Media Query #######*/
/*TABLET SCREEN MAX-WIDTH 1199PX*/
@media(max-width:1199px) and (min-width:768px) {
   
}

/*SMART PHONE MAX-WIDTH 767PX*/
@media(max-width:767px){
  
}

/*###### Carousel ##############*/


.mySlides {
  display: none
}

.slideshow-container img {
  vertical-align: middle;
  width: 100%;
  height: 700px;
  margin-top: -150px;
  opacity: 0.4555555;
}

/* Slideshow container */
.slideshow-container {
  /*max-width: 1000px;*/
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 32%;
  background-color: rgba(0,0,0,0.5);
  margin-bottom: -2px;
  height: 650px;
  border-radius: 0px 400px 60px 0px;
  /*text-align: center;*/
}

.tex_content {
  background-color: #ff8200;
  margin-top: 410px;
  padding: 20px;
  border-radius: 3px 5px 50px 3px;
}


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 14px;
  padding: 1px 14px;
  position: relative;
  left: 4.3%;
  top: 0;
  z-index: 1;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/*#########################################*/

/*########## About Us #############*/
.about_us_container {
  background-color: #eeeeee;
  padding: 20px;
  color: #03333d;
  margin-bottom: 10px;
}

.about_us_container h2, .about_us_container p {
  text-align: center;
}


/*########## Awards $ Testmony #############*/
.award_test_wrapper {
  /*background-color: #f4f4f4;*/
  margin-bottom: 10px;
}

/*########## Awards #############*/
.award_content {
  background-color: #f2f2f2;
  color: #00333d;
  padding: 20px;
}

.award_content h2 {
  border-bottom: 1px solid #eeeeee;
  padding: 10px;
}

.award_content i {
  background-color: #ff8200;
  padding: 20px;
  margin-right: 20px;
  border-radius: 100px;
  color: #f1f1f1;
}


/*jssor slider loading skin spin css*/
.jssorl-009-spin img {
  animation-name: jssorl-009-spin;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
  from {
   transform: rotate(0deg);
    }
   to {
    transform: rotate(360deg);
   }
}

/*jssor slider bullet skin 111 css*/
.jssorl-009-spin img {
  width: 100%;
}

.jssor_container {
  position: relative;
  /*margin:0 auto;*/
  /*top: 0px;*/
  /*left: 0px;*/
  /*width: 980px;*/
  height: 380px;
  overflow: hidden;
  visibility: hidden;
}

.jssor_spin {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0,0,0,0.7);
}

.img_spin {
  margin-top: -19px;
  position: relative;
  top: 50%;
  width: 38px;
  height: 38px;
}

.slide {
  cursor: default;
  position: relative;
  top: 0px;
  left: 0px;
  width: 580px;
  height: 380px;
  overflow: hidden;
}

.jssorb111 .i {
  position: absolute;
  color: #fff;
  font-family: "Helvetica neue", Helvetica, Arial, sans-serif;
  text-align:center;
  cursor:pointer;
  z-index:0;
}

.jssorb111 .i .n {
  display: none;
}

.jssorb111 .i .b {
  fill: #fff;
  stroke: #000;
  stroke-width: 500;
  stroke-miterlimit: 10;
  stroke-opacity: 0.5;
}

.jssorb111 .i:hover .b {
  fill: #fea900;
  stroke: #fea900;
  stroke-width: 6000;
  stroke-opacity: 1;
}

.jssorb111 .iav .b {
  fill: #000;
  stroke-width: 6000;
  stroke-opacity: 1;
}

.jssorb111 .i.idn {
  opacity: 0.3;
}

.jssorb111 .iav .n, .jssorb111 .i:hover .n {
  display: block;
}

/*jssor slider thumbnail skin 121 css*/
.jssort121 .p {
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(255,255,255,.2);
  box-sizing: border-box;
  color: #fff;
  background: rgba(0,0,0,.1);
  opacity: 0.7;
}

.jssort121 .p .t {
  position: absolute;
  padding: 10px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 24px;
  overflow: hidden;
}

.jssort121 .p .i {
  margin-right: 10px;
  position: relative;
  top: 0;
  left: 0;
  width: 96px;
  height: 48px;
  border: none;
  float: left;
}

.jssort121 .pav, .jssort121 .p:hover {
  color: #000;
  background: rgba(255,255,255,.7);
}

.jssort121 .p:hover {
  opacity: .75;
}

.jssort121 .pav, .jssort121 .p:hover.pdn {
  opacity:1;
}

.jssort121 .ti {
  position: relative;
  font-size: 14px;
  font-weight: bold;
}

.jssort121 .d {
  position: relative;
  font-size: 12px;
}
 /*.jssort121 .d:before {content:'\a';white-space:pre;}*/

/*########## Testmony #############*/
.testmony_content {
  background-color: #f2f2f2;
  padding: 30px;
  text-align: center;
  color: #00333d;
  border-bottom: 4px solid #ff8200;
}

.testmony_content p {
  font-style: italic;
  font-size: 18px;
}

.testmony_content img {
  width: 20%;
  border-radius: 100px;
  background-color: #cccccc;
  padding: 5px;
}
/*########## Service #############*/
.service_head {
  background-color: #eeeeee;
  padding: 60px;
  color: #03333d;
}

.service_head h2, .service_head p {
  text-align: center;
}
/*###### Service Container ######*/
.service_container {
  background-color: #cccccc;
  padding: 20px;
  color: #03333d;
  margin-bottom: 10px;
}

.service_container i {
  background-color: #ff8200;
  padding: 14px;
  color: #dddddd;
  border-radius: 100px;
  font-size: 42px;
}

p#service_title {
  font-size: 24px;
  font-weight: 600;
}

.service_content {
  padding: 10px 110px;
  cursor: pointer;
}

.service_content:hover {
  background-color:#989898;
  border-radius: 3px; 
}

/*########## Our Work #############*/
.work_head {
  background-color: #eeeeee;
  padding: 60px;
  color: #03333d;
}

.work_head h2, .work_head p {
  text-align: center;
}

/*###### Our Work Container ######*/

.work_container {
  background-color: #cccccc;
  padding: 20px;
  color: #03333d;
}

.work_container button {
  background-color: #ff8200;
  padding: 37px 20px;
  border: 1px solid #f2f2f2;
  border-radius: 100px;

}

.work_container button a {
  text-decoration: none;
  font-size: 16px;
  color: #ffffff;
  padding: 10px;
}

.work_container button:hover {
  opacity: 0.8;
}

.work_content {
  /*background-color: rgba(0,0,0,0.9);*/
  padding: 2px;
  position: relative;
  transition: 0.6s ease;
  user-select: none;
  z-index: 1000;

}

.work_content img {
  width: 100%;
}

.work_content p#work-letter {
  background-color: #00cdff;
  padding: 5px 7px;
  color: #f2f2f2;
  font-weight: 600;
  width: 8%;
  margin-bottom: -35px;
  border-radius: 100%;
  position: relative;
  z-index: 100;
}

.work_content .work_details {
  display: none;
  position: relative;
  transition: 0.6s ease;
  /*margin-top: -80px;*/
  /*user-select: none;*/
}

.work_content:hover {
  background-color: #eeeeee;
  position: relative;
  z-index: 1000;
  
}

.work_content:hover .work_details {
  display: block;
   background-color: #eeeeee;
  /*margin-top: -80px;*/
  position: relative;
  z-index: 1000;
  
}

/*#########################################*/
/*########## Contact Header #####*/

.contact_head {
  background-color: #eeeeee;
  padding: 60px;
  color: #03333d;
}

.contact_head h2, .contact_head p {
  text-align: center;
}

.contact_wrapper {
  background-color: #dddddd;
  padding: 20px;
}

.contact_form p#contact_title {
  font-size: 24px;
}

.contact_form {
  background-color: #989898;
  padding: 30px;
}

.contact_form label {
  font-weight: 600;
}

.contact_form i {
  /*background-color: #dddddd;*/
  margin-right: -30px;
  position: relative;
  z-index: 1;
  font-size: 14px;
  padding: 9px;
  color: #989898;
}

.contact_form form input[type=text] {
  padding: 8px 40px;
  font-family: Arial;
  font-size: 14px;
  width: 80%;
  border: 1px solid #eeeeee;
  border-radius: 3px;
}

.contact_form form textarea {
  padding: 8px;
  width: 80%;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  font-size: 16px;
  font-family: Arial;
}

.contact_form form input[type=submit]{
  padding: 8px;
  background-color: #00afff;
  color: #f2f2f2;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid #00a0ff;
  width: 80%;
}

.contact_form form input[type=submit]:hover {
  opacity: 0.8;
  cursor: pointer;
}

.contact_form form input[type=text]:focus, .contact_form form textarea:focus {
  border: 1px solid #cc0055;
}

.contact_imge {
 /*background-color: #eeeeee;*/
 padding: 10px;
}

.contact_imge img {
  width: 100%;
  height: 490px;
  margin-top: -60px;
}

.contact_imge p#imge_title {
  background-color: #ff8200;
  padding: 8px;
  position: relative;
  z-index: 1;
  color: #f2f2f2;
  width: 30%;
  border-radius: 3px;
  margin-top: -20px;
}

/*############# Footer #########*/
.footer-container {
  background-color: rgba(0,0,0,0.9);
  color: #989898;
}

.footer_content {
  padding: 20px;
}

.footer-container p#footer_title {
  font-family: Verdana;
  color: #ff8200;
  font-size: 24px;
  padding: 20px;
  border-bottom: 1px solid #555555;
}

.footer-container h2 {
  color: #eeeeee;
  font-family: Arial;
}

.footer-container i {
  padding: 5px;
}

.footer-container a {
  text-decoration: none;
  color: #888888;
}

.footer-container a:hover {
  color: #ff8200;
}

.footer_form form input[type=text]{
   width: 60%;
   padding: 10px;
   border: 1px solid #989898;
   border-radius: 3px 0px 0px 3px;
   font-family: Arial;
   font-size: 16px;
}

.footer_form form input[type=submit] {
  padding: 9px 11px 12px 11px;
  margin-left: -5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  background-color: #ff8200;
  color: #f2f2f2;
}

.footer_form form input[type=submit]:hover {
  opacity: 0.8;
}

.footer_form form input[type=text]:focus {
  border: 1px solid #cc0055;
}

.footer_copy {
  background-color: rgba(0,0,0,0.377777);
  padding: 20px;
  text-align: center;
  font-size: 13px;
}