body {

	font-family:Arial, Helvetica, sans-serif;
	background-color: #e8e8e8;
}

form #search{
	padding-bottom: 0px;
	margin: 0px;
}

#search input[type=text], input[type=password] {
	padding: 0px;
	margin-top: 2px;
	margin-bottom: -2px;
}


.login-header{

	padding: 60px 370px;
}

.login-header p{
	text-align: center;
	background-color: #444;
	padding: 20px;
	opacity: 0.8;
	color:#ffffff;
}

.login-header a{
	color: #0099FA;
	font-weight: bold;
	font-size: 16px;
}

.login-header span, #tita-acc{
 	color: #b2b2b2;
 }

 .login-header label{
 	font-size: 14px;
 }

.login {
	margin: 30px;
     float: right;
     /*width: 70%;*/
     /*border: 3px solid #f1f1f1;*/
}

.form-container{
	background-color: #fff;
	border: 1px solid #e8e8e8;
	padding:40px;
}

.form-container label{
	font-weight: bold;
	font-size: 14px;
	/*margin-left: 50px;*/
}

.form-container i{
	margin-left: 50px;
}

.form-container input[type=text], input[type=password] {
  width: 70%;
  padding: 12px 20px;
  margin: 15px 0;
  margin-left: 50px;
  display: block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

@media screen and (max-width: 800px) {
 .container input[type=text], input[type=password] {
    width: auto;
     /*float: none;*/
  }
}


#checkbox{
	font-size: 14px;
	margin-bottom: 20px;
	margin-left: 50px;
}


 #login-btn {
  background-color:#0064FF;
  color: white;
  padding:10px 25px;
  margin: 8px 0;
  margin-left: 50px;
  border: none;
  cursor: pointer;
  width: auto;
}

 button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 21px;
  background-color: #FF0F00;
  border: none;
  margin-left: 50px;
}

/*.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}*/

/*img.avatar {
  width: 40%;
  border-radius: 50%;
}*/

.container {
  padding-left:1px;
}

/*@media screen and (max-width: 300px) {
 form.login {
     display: block;
     float: none;
  }*/

span.psw {
	padding:10px;
	margin-left: 40px;
  /*float: right;*/
}


  /*.cancelbtn {
     width: 100%;
  }
*/