/*Peoples Concerns*/
/*Read Article*/
@font-face {
   font-family: OpenSans-Bold;
   src: url(../fonts/OpenSans-Semibold.ttf);
}

@font-face {
   font-family: OpenSans-Light;
   src: url(../fonts/OpenSans-Light.ttf);
}

@font-face {
   font-family: Lato-Light;
   src: url(../fonts/Lato-Light.ttf);
}

@font-face {
   font-family: Lato-Regular;
   src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
   font-family: Lato-Bold;
   src: url(../fonts/Lato-Bold.ttf);
   font-weight: bold;
}

@font-face {
   font-family: Recoba;
   src: url(../fonts/Recoba.ttf);
}

@font-face {
   font-family: Goldoni_DEMO;
   src: url(../fonts/.Goldoni_DEMO.otf);
}

body {
	font-family:OpenSans-Light, Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: auto;
}


/*Navigation bar*/
.logo-navbar {
	/*border: 1px solid #ccc !important;*/
	background-image: url(../img/theme9.jpg);
	background-size: 100%;
	padding: 40px 0px 30px;
	/*z-index: 1000;*/
}

#logo {
	color: #FF00AF;
	/*margin-left: -1px;*/
}
.logo-navbar a {
	background-image: url(../img/theme9.jpg);
	color: #000000 !important;
	text-decoration: none;
	display: inline-block;
	padding: 10px 20px 10px 5px;
	font-weight: 600;
}

.logo-navbar a:hover {
	 color: #FF00AF;
    /*text-shadow: 0px 1px #fff !important; */
}

.logo-navbar a:first-child {
	background-image: url(../img/theme9.jpg);
	background-position: 30%;
	border-radius: 4px 2px;
	/*border: 1px solid #777777;*/
	/*box-shadow: inset 2px 10px 15px 0px rgba(0,0,0,0.2);*/
	color: #000FF5 !important;
	font-weight: bold;
	font-size: 34px;
	margin-top: -60px;
	margin-left: 5px;
	/*padding: 20px;*/
	padding-bottom: 8px;
	background-color: #fff;
}



/*###################################################*/

.main-navbar {
	background-color: rgba(0,0,0,0.5); /*#654e21*/
	margin-bottom: -20px;
	border-bottom: 1px solid rgba(0,51,95,0.8);
}


.main-navbar-background {
	background-color: rgba(0,51,95,0.8);
	padding: 25px 40px 25px 100px;
}

.main-navbar a {
	color: #fff/*#654e21*/; 
	opacity: 0.877777;
	font-size: 14px;
	padding: 10px;
	text-decoration: none;
	/*font-weight: 600;*/
}

.main-navbar a:hover {
    border-bottom: 1px solid #fff;
    /*text-shadow: 0px 1px #fff !important; */
}

.main-navbar a:first-child {
	color: #00A0FF;
	font-size: 34px;
	padding-right: 100px;
}

.main-navbar a:last-child {
	border: 1px solid #00A0FF;
}


/*toggle list*/
.wrapper{
	/*background-color: #000000;*/
	float: right;
	/*margin-bottom: -10px;*/
    /*display: flex;
    flex-direction: column;*/
    /*height: 100vh;*/
    /*margin: 0 auto;*/
    /*max-width: 1550px;*/
    /*padding-top: .5rem;*/
    width: 30%;

}
/************* Style and animate the nav overlay ***********************/

.toggle-wrapper {
	background-color: #000000;
}

#toggle-header {
	color: #000000;
	/*background-color: yellow;*/
	padding-left: 10px;
}
.main-nav-list::before,
.main-nav-list::after{
    background-color: #b94071;
    content:"";
    position: absolute;
    top: 0;
    height: 100vh;
    width: 0vw;
    transition: all 100ms ease-in-out 300ms;
}

.main-nav-list::before{
    left: 0;
}
.main-nav-list::after{
    right: 0;
}

.main-nav-list ul{
	height: 2800%;
	background-color: #fff;
	list-style-type: none;
	width: 100%;
	color: #777777;
    position: absolute;
    top: -2000%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    z-index: 2000;
}

.main-nav-list.active ul{
    top: 2000%;
    transform: translate(-50%,-50%);
    transition-delay: 360ms;
    transition-duration: 240ms;
    transition-timing-function: cubic-bezier(.1, .2, .3, 1.4);
}

.main-nav-list a{
	text-decoration: none;
	padding: 10px;
    display: block;
    /*background-color: yellow;*/
    font-size: 1rem;
    line-height: 0.2;
    /*letter-spacing: 1px;*/
    margin-bottom: 15px;
    transition-delay: 130ms;
    color: #777777;
}

.main-nav-list a:hover {
	color: #000000;
	font-weight: 600;
}

ul.inline ul li a{
	display: inline-block;
}


.menu-toggle{
    cursor: pointer;
    margin: 20px;
    margin-top: -21px;
    width: 30px;
    z-index: 3;
}

.menu-toggle div{
    background-color: #ccc;
    border-radius: 25px;
    box-shadow: 0px 3px 13px rgba(0,0,0,.08);
    height: 2px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(.13,.24,.35,1.64);
}

.menu-toggle .one,
.menu-toggle .two{
    margin-bottom: 5px;
}

.masthead.active h1{
    text-shadow: 0px 3px 3px rgba(0,0,0,.4);
}

.menu-toggle.active .one{
    box-shadow: 0px 3px 13px rgba(0,0,0,.4);
    transform: translate(0, 14px) rotate(45deg);
}

.menu-toggle.active .two{
    background-color: transparent;
    box-shadow: none;
    /*transform: translateX(-55px);*/
}

.menu-toggle.active .three{
    box-shadow: 0px 3px 13px rgba(0,0,0,.4);
    transform: translate(0,-1px) rotate(-45deg);
}


/*##################################################*/

/*aside-navbar*/

.aside-navbar {
	background-color: rgba(0,200,204,0.3); /*#00A0FF*/;
	/*opacity: 0.9;*/
	border-left: 2px solid #7767777;
	margin-top: 80px;
	padding:10px 0px 10px;
	margin-right: -20px;
	margin-left: 100px;
}

.aside-navbar a {
	background-color: #FFC300;
	opacity: 0.9;
	display: block;
	font-size: 14px;
	/*font-weight: 600;*/
	text-decoration: none;
	color: #fff;
	/*text-align: right;*/
	margin-left: -40px;
	/*width: 50%;*/
	padding: 10px; 
}

.aside-navbar a:hover {
	background-color: #FF0500;
	opacity: 0.8;
	transition: 1s;
	color: #fff;
	margin-right: 30px;
}

.aside-navbar i {
	/*background-color: #00A0FF;*/
	padding: 5px;
	width: 10%;
}



/*###########################################################*/

.heading-wrapper-background {
	background-image: url(../img/talk3.jpg);
	background-size: 100%;
	/*background-position: top;*/
	background-attachment: fixed;
	
}

.heading-wrapper {
     background-color: rgba(0,51,95,0.8);
	background-position: 0%;
	padding: 50px 20px;
	margin-top: 5px;
}


/*###########################################*/


.heading-social {
	/*float: right;*/
	/*background-color: #fff;*/
	width: 100%;
	padding: 10px;
	margin-top: 100px;
    margin-left: 30px;
}

.heading-social i {
	font-size: 20px;
	padding: 5px;
	background-color: rgba(0,0,0,0.2);
	border-radius: 100px;
}

#facebook-color {
	color: #0000FF;
}

#twitter-color {
	color: #00B9FF;
}

#pinterest-color {
	color: #CC0019;
}

#youtube-color {
	color: #CC0019;
}

#instagram-color {
	color: #CC2800;
}
/*#############################################################*/

/*#### login #####*/
.login-wrapper {
	/*background-color: grey;*/
	padding: 40px 20px;
	width: 70%;
}

.login-wrapper form {
	background-color: rgba(0,0,0,0.5995555);
	padding: 20px;
}

.login-wrapper form label {
	display: block;
	padding-bottom: 5px;
	padding-top: 5px;
	color: #FFFFFF;
	opacity: 0.8;
}


.login-wrapper input[type=text], .login-wrapper input[type=password] {
	width: 80%;
	font-size: 14px;
	padding: 10px;
	margin-bottom: 20px;
}

.login-wrapper input[type=text]:focus, .login-wrapper input[type=password]:focus {
	border: 1px solid #FF0000;
}


i#user, i#lock {
	/*background-color: yellow;*/
	color: #303030;
	margin-left: -35px;
	/*float: left;*/
	padding: 10px;
	/*margin-right: 20px;*/
}

.login-wrapper button {
	padding: 10px 20px;
	font-size: 14px;
	margin-top: 20px;
	margin-right: 40px;
	background-color: #008CFF;
	color: #FFFFFF;
	border: none;
}

.login-wrapper button:hover {
	opacity: 0.7;
	cursor: pointer;
}

.login-header {
	background-color: rgba(0,150,255,0.477777);
	padding: 20px;
	color: #FFFFFF;
}

.login-header p, .login-header a {
	display: inline-block;
}

.login-header a {
	padding-left: 10px;
	color: #FFFFFF;
}

.login-social {
	/*background-color: grey;*/
	padding: 50px 5px;
}

.login-social h2 {
	color: #FFFFFF;
}

.login-social a {
	/*padding: 10px;*/
	/*background-color: #FFFFFF;*/
	width: 80%;
	text-decoration: none;
	display: block;
	margin-bottom: 5px;
}

.login-social a:hover {
	opacity: 0.6;
}

/*##### social colors ########*/
.login-social i {
	/*background-color: grey;*/
	/*padding: 10px;*/
}

/*###### facebook #######*/

span#login-facebook {
	/*background-color: #0000FF;*/
	padding: 40px;
	color: #FFFFFF;
	/*margin-left: 10px;*/
}


.login-social i#facebook-color {
	background-color: #0000FF;
	color: #FFFFFF;
	padding: 15px 20px;
	margin-right: 10px;
	margin-left: -9px;
}

a#facebook-color {
	background-color: #4100FF;
	/*opacity: 0.9;*/
	/*padding: 9px;*/
}

/*###### twitter ############*/

span#login-twitter {
	/*background-color: #0000FF;*/
	padding: 40px;
	color: #FFFFFF;
	/*margin-left: 10px;*/
}
.login-social i#twitter-color {
	background-color: #00A0FF;
	color: #FFFFFF;
	padding: 15px 16px;
	margin-right: 10px;
	margin-left: -9px;
}

a#twitter-color {
	background-color: #00CDFF;
	color: #FFFFFF;
	/*padding: 9px;*/
}


/*###### google plus ############*/

span#login-google-plus {
	/*background-color: #0000FF;*/
	padding: 47px;
	color: #FFFFFF;
	/*margin-left: 10px;*/
}
.login-social i#google-plus-color {
	background-color: #FF0000;
	color: #FFFFFF;
	padding: 15px 14px;
	margin-left: -9px;
}

a#google-plus-color {
	background-color: #FF0047;
	/*opacity: 0.7;*/
	/*padding: 9px;*/
	color: #FFFFFF;
}

